matplotlib==3.5.2
numpy==1.22.3
scipy==1.8.0
opencv-python==4.5.5.64
tensorboard==2.9.0
dominate==2.6.0
trimesh==3.12.0
scikit-image==0.19.2
kornia==0.6.4
pytorch-lightning==1.6.3
omegaconf==2.1.2
wandb==0.12.16
lpips==0.1.4
